/*------------------------------------------------
CSS STRUCTURE:

1. GENERAL
	1.1 Global Reset 
	1.2 General Styles	
	1.3 List Styles
	1.4 Headers
	1.5 Tables

2. SITE STRUCTURE	
	2.1 Header
	2.2 Menu
	2.3 Main
	2.4 Footer

3. WEBPAGES STRUCTURE
	3.1 Contact
	3.2 Deli
	3.3 Sights
<<<<<<< HEAD
	3.4 Hotels
=======
>>>>>>> 32c00d88c21178801966c9c549f749e47c9ca0db
------------------------------------------------*/	


/*============================================================================================*/
/* 1. GENERAL */
/*============================================================================================*/
/*----------------------------------------------*/
/* 1.1 Global Reset */
/*----------------------------------------------*/

footer, header, menu, nav {
	display: block
}

html { 
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
	-webkit-font-smoothing: antialiased
}

	
/*----------------------------------------------*/
/* 1.2 General Styles */
/*----------------------------------------------*/
body {
    width: 100%;
    height: 100%;
	margin:0px;
	padding:0px;
    font-family: "Open Sans",sans-serif;
    font-size:14px;
}

img {
	width:100%
}


/*----------------------------------------------*/
/* 1.3 List Styles */
/*----------------------------------------------*/
ul{
	list-style:disc outside
}

ol{ 
	list-style:decimal outside
}

li{ 
	margin:2px 0
}

ol li{ 
	margin-top:5px; 
	margin-bottom:7px 
}

ul, ol, dd{ 
	margin-left:25px
}

ul ul, ol ul, ul ol, ol ol{ 
	margin-bottom:0
}


/*----------------------------------------------*/
/* 1.4 Headers */
/*----------------------------------------------*/
h1,h2,h3,h4,h5,h6,p{
	font-weight:normal;
	font-family: 'LeagueGothic', 'Open Sans Condensed', Tahoma, Geneva, sans-serif;
	color:#01134b;  /* ΣΚΟΥΡΟ ΜΠΛΕ */
	line-height:1.2em;
}

h1 span, h2 span, h3 span ,h4 span, h5 span {
	color:#fea700; /* ΛΑΧΑΝΙ */
}
	
h1{
	font-size:32px;
	text-align:center;
}	
	
h2{
	font-size:27px;
	margin-bottom:15px;
	color:#fea700;	/* ΑΝΟΙΧΤΟ ΠΟΡΤΟΚΑΛΙ */
}
	
h3{
	font-size:24px;
	margin-bottom:10px;
}
	
h4{
	font-size:22px;
	margin-bottom:10px;
}
	
h5{
	font-size:20px;
	margin:7px 0 5px;
	text-align:justify;
}
	
h6{
	font-size:18px;
}

p{
	font-size:20px;
	margin:7px 10px 5px 10px;
	text-align:justify;
}

em{
	color:brown;
}

/*----------------------------------------------*/
/* 1.5 Tables */
/*----------------------------------------------*/
table,td,th {
	vertical-align:middle; 
	text-align:center;
	border-collapse:collapse;
}
th { 
	padding:0 5px 0 0; 
	font-size:14px; 
	border:1px solid black;
}
td{ 
	font-size:13px; 
	padding:0px;  
	border:1px solid black;
}


/*============================================================================================*/
/*============================================================================================*/
/* 2. SITE STRUCTURE */
/*============================================================================================*/
/*============================================================================================*/
	
/*----------------------------------------------*/
/* 2.1 Header */
/*----------------------------------------------*/
#header {
	background-color: grey;			/* Χρώμα που εμφανίζετε στα πλαινά του header*/
	position:relative;
}
.header_bg {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	/*Δίνει εφε σκίασης*/
	width:1024px;	
	margin:auto;
	height:450px;
}
.logo {
	width:200px;
	height:150px;
	position:absolute;
}


/*----------------------------------------------*/
/* 2.2 Menu */
/*----------------------------------------------*/


.menu {
	width:100%;
	margin:auto;
	position:absolute;
	bottom:30px;
	background-color: grey;		
	opacity:0.7;		/* Πόσο έντονα θα φαίνετε το background */
}
.inner_menu {
	width:700px;
	margin:auto;
	padding:0px;
}
.menu ul {
	list-style-type: none;
	width:100%;
	margin: auto;
	padding: 0;
}
.menu li {
	float: left;
}
.menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
.menu li a:hover {
	background-color: #111111;
}

/*----------------------------------------------*/
/* 2.3 Main */
/*----------------------------------------------*/
#main {
	width:100%;
	margin:auto;
	padding:0;
}

.thin_line {
	position: relative;
	background:#E3E1E1;
    width: 100%;
    padding: 0px;
    height: 5px;
}
.thick_line {
	position: relative;
	background:grey;
    width: 100%;
    height: 30px;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}

/*----------------------------------------------*/
/* 2.4 Footer */
/*----------------------------------------------*/

#footer {
	position:relative;
	color: grey;
	font: italic bold 20px sans-serif;
}
.footer_t table{
	width:500px;	
	margin:auto;
	padding:0;
	background-color:grey;
}
.footer_t th {
	color:blue;
	size:14px;
}
.footer_t td {
	color:cyan;
	size:14px;
}
	

/*============================================================================================*/
/*============================================================================================*/
/* 3.WEBPAGES STRUCTURE */
/*============================================================================================*/
/*============================================================================================*/
	
/*----------------------------------------------*/
/* 3.1 Contact */
/*----------------------------------------------*/

.contact {
	width:500px;
	margin:auto;
	padding:0;
}

.contact table {
	margin: 0 0 50px 0;
}

.contact td, th{
	padding: 2px 20px 2px 20px;
}

.contact ul {
	list-style:none;
}
.contact ul li::before{
  content: "\2022";  		/* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; 				/* Change the color */
  font-weight: bold; 		/* If you want it to be bold */
  display: inline-block; 	/* Needed to add space between the bullet and the text */
  width: 2em; 				/* Also needed for space (tweak if needed) */
  margin-left: -1em; 		/* Also needed for space (tweak if needed) */
}

/*----------------------------------------------*/
/* 3.2 Deli */
/*----------------------------------------------*/

.deli_layout {
	width:1024px;
	margin:auto;
	padding:0;
}

.deli_layout p{
	margin-bottom: 20px;
}
.deli_right_img {
	float:right; 
	width:250px; 
	margin-left:20px; 
	margin-bottom:20px; 
	border:1px solid; 
	border-radius: 8px; 
	padding: 2px;
}

.all_cards {
	width:800px;
	margin:auto;
	padding:0;
}
	
.all_cards table {
	border:none;
	margin: 0 0 50px 0;
}

.all_cards td, th{
	border:none;
	padding: 2px 20px 2px 20px;
}


.cards {
  position: relative;
  max-width: 250px;
  margin: 0 auto;
}

.cards img {vertical-align: middle;}

.cards .container {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  width: 100%;
  padding-top: 0px;
  box-sizing: border-box;
}
.cards .container h3 {
  font-size: 14px;
  color: #f1f1f1;
  text-align:center;
}
.cards .container p {
  font-size: 14px;
  color: #f1f1f1;
  text-align:center;
}

/*----------------------------------------------*/
/* 3.3 Sights */
/*----------------------------------------------*/

.grid_container{
	width:900px;
	margin:auto;
	padding:0;
}

.element{
	margin-top: 30px;
	display: grid;
	place-items: center;
}

.right_img {
	grid-template-columns: 1fr 400px;
}

.left_img {
	grid-template-columns: 400px 1fr;
}

.sights_image {
	border-radius: 5%;
	border:rgba(0, 0, 0, 0.5) solid 1px;
}

.sights_row_images {
	display: grid;
	grid-template-columns: 280px 300px 280px;
	gap: 20px;
	padding-bottom: 30px;
	margin-left: 40;
	place-items: center;
	border-bottom: rgba(0, 0, 0, 0.1) solid 1px;;
}
.element p,h2 {
	margin: 10px;
}

.element p {
	font-size: 16px;
	background-color: rgba(0, 0, 0, .1);
	padding: 10px;
<<<<<<< HEAD
}

/*----------------------------------------------*/
/* 3.4 Hotels */
/*----------------------------------------------*/

.hotels_layout {
	width:1024px;
	margin:auto;
	padding:0;
}

.hotels_layout p{
	margin-bottom: 20px;
}
.hotels_right_img {
	float:right; 
	width:250px; 
	margin-left:20px; 
	margin-bottom:20px; 
	padding: 2px;
}
		
.hotels_cards {
	float:left;
	width:300px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	background-color:white;
	}
	
.hotels_cards .hotels_top_image {
	box-shadow: 2px 2px 6px #555;
	}
.hotels_cards .hotels_container {
	padding:20px;
}

.hotels_cards .hotels_container p{
	font-size:18px;
	font-weight:normal;
	font-family: 'LeagueGothic', 'Open Sans Condensed', Tahoma, Geneva, sans-serif;
	color:#01134b;  /* ΣΚΟΥΡΟ ΜΠΛΕ */
	line-height:1.2em;
	text-align:justify;
}

.hotels_layout table {
	border:none;
	margin: 0 0 50px 0;
}

.hotels_layout td, th{
	border:none;
	padding: 2px 0px 2px 0px;
}
=======
}
>>>>>>> 32c00d88c21178801966c9c549f749e47c9ca0db
